@import 'src/styles/utils.scss';

.inactive-claim {
  opacity: 0.7 !important;
}

.filter-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0px 10px 0px;
  border-bottom: 1px solid var(--border-color);
}

@include reset-ul;

ul li {
  padding: 10px;
  font-size: 14px;
}

.text-supplychain {
  max-width: 250px;
  @include text-overflow();
}