<article class="ff-flex-between">
    <h3 class="font-1-bold">{{'companyProfile.heading'|translate}}</h3>
    <ng-container *ngIf="!isConnection && asAdmin">
        <span class="ff-flex-align-center pointer text-blue" *ngIf="!isEdit" (click)="toggleEdit()" id="editIcon">
            <mat-icon class="edit">edit</mat-icon> {{'misc.edit'|translate}}
        </span>
    </ng-container>
</article>
<section class="first-details mb-15">
    <ng-container *ngIf="!isEdit">
        <ng-container *ngFor="let item of tabOne">
            <article class="item" [ngClass]="{'w-100': item.type === 'textarea'}" id="item{{item.key}}">
                <span class="key">{{item?.label | translate }}</span>
                <span class="value">
                    {{companyProfileData[item.key] || '-'}}
                </span>
            </article>
        </ng-container>
    </ng-container>
    <!-- editable form  -->
    <ng-container *ngIf="isEdit">
        <article class="flex-column">
            <app-ff-input label="{{'company.name'|translate}} *" [parentFormGroup]="detailsForm" controlName="name"
                inputSize="profile" inputType="text" class="form-items">
            </app-ff-input>
            <ng-container [ngTemplateOutlet]="formErrorMessages" [ngTemplateOutletContext]="{formcontrol:'name'}">
            </ng-container>
        </article>
        <article class="flex-column">
            <app-ff-input label="{{'companyProfile.regNo'|translate}}" [parentFormGroup]="detailsForm"
                controlName="regNo" inputSize="profile" inputType="text" class="form-items">
            </app-ff-input>

        </article>
        <ng-container *ngFor="let item of tabOne">

            <ng-container *ngIf="item.type === 'textarea'">
                <article class="flex-column w-100">
                    <app-ff-input [label]="(item?.label | translate) + (item.required ? '*': '')"
                        [parentFormGroup]="detailsForm" [controlName]="item.controlName" inputSize="profile"
                        [isTextarea]="true" class="form-items w-100">
                    </app-ff-input>
                    <ng-container [ngTemplateOutlet]="formErrorMessages"
                        [ngTemplateOutletContext]="{formcontrol:item.controlName}">
                    </ng-container>
                </article>

            </ng-container>

            <ng-container *ngIf="item.type === 'text'">
                <article class="flex-column">
                    <app-ff-input [label]="(item?.label | translate) + (item.required ? '*': '')"
                        [parentFormGroup]="detailsForm" [controlName]="item.controlName" inputSize="profile"
                        inputType="text" class="form-items">
                    </app-ff-input>
                    <ng-container [ngTemplateOutlet]="formErrorMessages"
                        [ngTemplateOutletContext]="{formcontrol:item.controlName}">
                    </ng-container>
                </article>
            </ng-container>

            <ng-container *ngIf="item.type === 'dropdown'">
                <article class="flex-column">
                    <app-ff-dropdown [label]="(item?.label | translate) + (item.required ? '*': '')"
                        [dropdownOptions]="item.controlName === 'country'?countryList: stateList" inputClass="profile"
                        [defaultValue]="formControlsCompany[item.controlName].value" class="form-items"
                        (selectionChange)="dropdownChanged($event, item.defaultValue)"></app-ff-dropdown>
                    <ng-container [ngTemplateOutlet]="formErrorMessages"
                        [ngTemplateOutletContext]="{formcontrol:item.controlName}">
                    </ng-container>
                </article>
            </ng-container>

        </ng-container>
    </ng-container>
</section>
<h3 class="font-1-bold">{{'companyProfile.subHeading'|translate}}</h3>
<section class="second-details">
    <ng-container *ngIf="!isEdit">
        <div class="item" id="itemName">
            <span class="key">{{'user.name'|translate}}</span>
            <span class="value">
                {{companyProfileData?.incharge?.first_name}}
            </span>
        </div>
        <div class="item" id="itemEmail">
            <span class="key">{{'user.email'|translate}}</span>
            <span class="value">
                {{companyProfileData?.incharge?.email}}
            </span>
        </div>
        <div class="item" id="itemNumber">
            <span class="key">{{'user.contact'|translate}}</span>
            <span class="value">
                {{companyProfileData?.phone?.dial_code + ' ' + companyProfileData?.phone?.phone}}
            </span>
        </div>
    </ng-container>
    <ng-container *ngIf="isEdit">
        <article class="flex-column">
            <app-ff-input label="{{'user.name'|translate}} *" [parentFormGroup]="detailsForm" controlName="inName"
                inputSize="profile" inputType="text" class="form-items">
            </app-ff-input>
            <ng-container [ngTemplateOutlet]="formErrorMessages" [ngTemplateOutletContext]="{formcontrol:'inName'}">
            </ng-container>
        </article>
        <article class="flex-column">
            <app-ff-input label="{{'user.email'|translate}} *" [parentFormGroup]="detailsForm" controlName="inEmail"
                inputSize="profile" inputType="text" class="form-items">
            </app-ff-input>
            <ng-container [ngTemplateOutlet]="formErrorMessages" [ngTemplateOutletContext]="{formcontrol:'inEmail'}">
            </ng-container>
        </article>
        <article class="flex-column">
            <app-ff-dropdown label="{{'company.countryCode'|translate}} *" [dropdownOptions]="countryCodeList"
                inputClass="profile" [defaultValue]="formControlsCompany.inDialCode.value" class="form-items"
                (selectionChange)="dropdownChanged($event, 'dialCode')"></app-ff-dropdown>
            <ng-container [ngTemplateOutlet]="formErrorMessages" [ngTemplateOutletContext]="{formcontrol:'inDialCode'}">
            </ng-container>
        </article>

        <article class="flex-column">
            <app-ff-input label="{{'user.contact'|translate}} *" [parentFormGroup]="detailsForm" controlName="inMobile"
                inputSize="profile" inputType="text" class="form-items">
            </app-ff-input>
            <ng-container [ngTemplateOutlet]="formErrorMessages" [ngTemplateOutletContext]="{formcontrol:'inMobile'}">
            </ng-container>
        </article>

    </ng-container>
</section>
<section class="form-button ff-flex-end" *ngIf="isEdit">
    <app-buttons buttonType="stroked" (buttonClicked)="toggleEdit()" [isDisabled]="savingProfile">
        {{'button.cancel'|translate}}
    </app-buttons>
    <app-buttons buttonType="fill" (buttonClicked)="updateProfilePic()" [isDisabled]="savingProfile">
        {{savingProfile?('button.profileSaving'|translate):('button.saveChanges'|translate)}}
    </app-buttons>
</section>

<ng-template let-formcontrol="formcontrol" #formErrorMessages>
    <span class="error-message"
        *ngIf="formControlsCompany[formcontrol]?.errors?.required && (submitted || formControlsCompany[formcontrol]?.touched)">
        {{'formValidation.commonValidationError'|translate}}
    </span>

    <ng-container *ngIf="formcontrol === 'inMobile'">
        <span class="error-message"
            *ngIf="formControlsCompany[formcontrol]?.errors?.pattern && (submitted || formControlsCompany[formcontrol]?.touched)">
            {{'formValidation.invalidMobile'|translate}}
        </span>
        <span class="error-message"
            *ngIf="formControlsCompany[formcontrol]?.errors?.minlength && (submitted || formControlsCompany[formcontrol]?.touched)">
            {{'formValidation.invalidMobile'|translate}}
        </span>
    </ng-container>

    <ng-container *ngIf="formcontrol === 'latitude' || formcontrol === 'longitude'">
        <span class="error-message"
            *ngIf="formControlsCompany[formcontrol]?.invalid && (submitted || formControlsCompany[formcontrol]?.touched)">
            {{'formValidation.invalidValue'|translate}}
        </span>
    </ng-container>
    <ng-container *ngIf="formcontrol === 'description'">
        <span class="error-message"
            *ngIf="formControlsCompany[formcontrol]?.invalid && (submitted || formControlsCompany[formcontrol]?.touched)">
            {{'formValidation.reduceDesc'|translate}}
        </span>
    </ng-container>
</ng-template>