<section class="pop-header ff-flex-between">
  <h4>
    {{data?.map?('button.mapSuppliers'|translate):('connections.sendInvitation'|translate)}}
  </h4>
  <mat-icon class="pointer" (click)="close()" id="closeIcon">close</mat-icon>
</section>

<section class="flex-column p-20-button">
  <app-ff-input label="{{'misc.note'|translate}}" [parentFormGroup]="detailsForm" controlName="note" inputClass="profile"
    [isTextarea]="true" class="w-100">
  </app-ff-input>
</section>

<section class="ff-flex-between p-20-button">
  <app-buttons buttonType="stroked" (buttonClicked)="close()" customId="cancelButton">
    {{'button.cancel'|translate}}
  </app-buttons>
  <app-buttons buttonType="fill" (buttonClicked)="buttonAction()" customId="reqMapButton">
    {{data?.map?('button.reqButton'|translate):('button.sendInvite'|translate)}}
  </app-buttons>
</section>