<div class="page-container">
    <section class="heading-section">
        <h1 class="page-heading">
            {{'connections.addConnection'|translate}}
        </h1>
    </section>

    <section class="tabs">
        <app-ff-custom-tab [tabGroupItems]="tabGroup" [activeTabId]="currentStep" (tabChanged)="changeTab($event)"
            [withDescription]="true"></app-ff-custom-tab>
    </section>

    <section class="content" *ngIf="!loading">
        <ng-container *ngIf="currentStep === tabGroup[0].id">
            <p class="info font-1-normal" *ngIf="incomingData?.stock"
                [innerHtml]="'connections.fromStockFarmer'|translate|safeHtml">

            </p>
            <p class="info font-1-normal" *ngIf="incomingData?.isSupplier"
                [innerHtml]="'connections.addBuyerText'|translate:{name: incomingData?.connectionName}|safeHtml">
            </p>
        </ng-container>

        <div class="row-md" *ngIf="currentStep === tabGroup[0].id">
            <h3 class="text-blue font-1-bold col-md-12">
                {{'farmer.details'|translate}}
            </h3>
            <section [formGroup]="detailsForm" class="col-md-6">
                <aside class="d-flex w-100" aria-label="first name and last name">
                    <article class="w-50-cc with-error m-r-12">
                        <app-ff-input label="{{'user.firstName'|translate}}*" [parentFormGroup]="detailsForm"
                            controlName="firstName" inputSize="full" inputType="text">
                        </app-ff-input>
                        <ng-container [ngTemplateOutlet]="formErrorMessages"
                            [ngTemplateOutletContext]="{formcontrol:'firstName', formgroup: detailsForm}">
                        </ng-container>
                    </article>
                    <article class="w-50-cc with-error">
                        <app-ff-input label="{{'user.lastName'|translate}}*" [parentFormGroup]="detailsForm"
                            controlName="lastName" inputSize="full" inputType="text">
                        </app-ff-input>
                        <ng-container [ngTemplateOutlet]="formErrorMessages"
                            [ngTemplateOutletContext]="{formcontrol:'lastName', formgroup: detailsForm}">
                        </ng-container>
                    </article>

                </aside>
                <aside class="d-flex w-100" aria-label="second row">
                    <article class="w-50-cc with-error m-r-12">
                        <app-ff-dropdown label="{{'connections.fType'|translate}}*" [dropdownOptions]="operationTypes"
                            inputClass="profile" [hideSearch]="true"
                            [defaultValue]="detailsForm.get('primaryOperation').value"
                            [showRedBorder]="detailsForm | showRequiredError: 'primaryOperation'"
                            (selectionChange)="dropdownChanged($event, 'primaryOperation', detailsForm)">
                        </app-ff-dropdown>
                        <ng-container [ngTemplateOutlet]="formErrorMessages"
                            [ngTemplateOutletContext]="{formcontrol:'primaryOperation', formgroup: detailsForm}">
                        </ng-container>
                    </article>
                    <article class="w-50-cc with-error">
                        <app-ff-input label="{{'farmer.id'|translate}}" [parentFormGroup]="detailsForm"
                            controlName="identificationNo" inputSize="full" inputType="text">
                        </app-ff-input>
                    </article>
                </aside>
            </section>
            <aside aria-label="illustration" class="col-md-6 ff-flex-center">
                <img src="../../../../assets/images/famer_bulk.svg" alt="">
            </aside>
        </div>

        <section class="row-md" *ngIf="currentStep === tabGroup[1].id">

            <section [formGroup]="addressForm" class="col-md-6">
                <h3 class="text-blue font-1-bold col-md-12 with-error">
                    {{'connections.suplpierAddress'|translate}}
                </h3>
                <article class="with-error col-md-12">
                    <app-ff-input label="{{'company.street'|translate}}" [parentFormGroup]="addressForm"
                        controlName="street" inputSize="profile" inputType="text">
                    </app-ff-input>
                </article>
                <aside class="d-flex w-100" aria-label="second row">
                    <article class="w-50-cc with-error m-r-12">
                        <app-ff-dropdown label="{{'company.country'|translate}}*" [dropdownOptions]="countryList"
                            inputClass="profile" [defaultValue]="addressForm.get('country').value"
                            [showRedBorder]="addressForm | showRequiredError: 'country'"
                            (selectionChange)="dropdownChanged($event, 'country', addressForm)">
                        </app-ff-dropdown>
                        <ng-container [ngTemplateOutlet]="formErrorMessages"
                            [ngTemplateOutletContext]="{formcontrol:'country', formgroup: addressForm}">
                        </ng-container>
                    </article>
                    <article class="w-50-cc with-error">
                        <app-ff-dropdown label="{{'company.province'|translate}}*" [dropdownOptions]="stateList"
                            inputClass="profile" [defaultValue]="addressForm.get('province').value"
                            [showRedBorder]="addressForm | showRequiredError: 'province'"
                            (selectionChange)="dropdownChanged($event, 'province', addressForm)">
                        </app-ff-dropdown>
                        <ng-container [ngTemplateOutlet]="formErrorMessages"
                            [ngTemplateOutletContext]="{formcontrol:'province', formgroup: addressForm}">
                        </ng-container>
                    </article>
                </aside>
                <aside class="d-flex w-100" aria-label="third row">
                    <article class="w-50-cc with-error m-r-12">
                        <app-ff-input label="{{'company.city'|translate}}*" [parentFormGroup]="addressForm"
                            controlName="city" inputSize="profile" inputType="text">
                        </app-ff-input>
                        <ng-container [ngTemplateOutlet]="formErrorMessages"
                            [ngTemplateOutletContext]="{formcontrol:'city', formgroup: addressForm}">
                        </ng-container>
                    </article>
                    <article class="w-50-cc with-error">
                        <app-ff-input label="Postal code" [parentFormGroup]="addressForm" [controlName]="'zipcode'"
                            inputSize="profile" inputType="text">
                        </app-ff-input>
                    </article>
                </aside>
                <h3 class="text-blue font-1-bold with-error">Contact information</h3>
                <article class="w-100 with-error">
                    <app-ff-input label="{{'user.email'|translate}}" [parentFormGroup]="addressForm" controlName="email"
                        inputSize="profile" inputType="text">
                    </app-ff-input>
                    <ng-container [ngTemplateOutlet]="formErrorMessages"
                        [ngTemplateOutletContext]="{formcontrol:'email', formgroup: addressForm}">
                    </ng-container>
                </article>
                <aside class="d-flex w-100" aria-label="fourth row">
                    <article class="w-50-cc with-error m-r-12">
                        <app-ff-dropdown label="{{'company.countryCode'|translate}}" [dropdownOptions]="countryCodeList"
                            inputClass="profile" [defaultValue]="addressForm.get('dialCode').value"
                            (selectionChange)="dropdownChanged($event, 'dialCode', addressForm)">
                        </app-ff-dropdown>
                    </article>
                    <article class="w-50-cc with-error">
                        <app-ff-input label="{{'user.contact'|translate}}" [parentFormGroup]="addressForm"
                            controlName="mobile" inputSize="profile" inputType="text">
                        </app-ff-input>
                        <ng-container [ngTemplateOutlet]="formErrorMessages"
                            [ngTemplateOutletContext]="{formcontrol:'mobile', formgroup: addressForm}">
                        </ng-container>
                    </article>
                </aside>

            </section>
            <aside aria-label="illustration" class="col-md-6 ff-flex-center">
                <img src="../../../../assets/images/famer_bulk.svg" alt="">
            </aside>
        </section>

        <section class="row-md" *ngIf="currentStep === tabGroup[2].id">
            <div class="col-md-6">
                <p class="info font-1-normal text-blue with-error" *ngIf="incomingData?.stock">
                    {{'connections.farmerText1'|translate}}
                    <ng-container [ngTemplateOutlet]="farmerName"></ng-container>
                    {{'connections.farmerText2'|translate}}
                </p>
                <ng-container *ngIf="!incomingData?.stock && supplySelection?.length">
                    <p class="info font-1-normal text-blue with-error">
                        {{'connections.farmerText3'|translate}} <ng-container
                            [ngTemplateOutlet]="farmerName"></ng-container>
                        {{'connections.farmerText4'|translate}}
                    </p>

                    <app-connection-mapping [supplySelection]="supplySelection" [additionalLoader]="additionalLoader"
                        [selectAll]="selectAll" [supplySelectionCount]="supplySelectionCount"
                        (loadMoreData)="loadMoreBuyers()" (updateRadio)="updateSelectAll($event)"
                        *ngIf="!viewingAsAdmin">
                    </app-connection-mapping>
                </ng-container>
                <ng-container *ngIf="supplySelection?.length === 0">
                    {{'connections.connectionInforFarmer'|translate}}
                </ng-container>
            </div>
            <aside aria-label="illustration" class="col-md-6 ff-flex-center">
                <img src="../../../../assets/images/famer_bulk.svg" alt="">
            </aside>
        </section>
        <article class="w-100 row-md">
            <app-action-buttons [buttonPrevText]="prevButton" [buttonNextState]="nextButtonState" [customId]="buttonId"
                (buttonsClicked)="buttonAction($event)" aria-label="action section"
                class="col-md-6"></app-action-buttons>
        </article>
    </section>
    <section class="row-md">
        <app-loader [loaderText]="loaderText" loaderType="type1" *ngIf="loading" class="col-md-6"></app-loader>
    </section>
</div>


<!-- validation error section  -->
<ng-template let-formcontrol="formcontrol" let-formgroup="formgroup" #formErrorMessages>
    <span class="error-message" *ngIf="formgroup | showRequiredError: formcontrol">
        {{'formValidation.commonValidationError'|translate}}
    </span>
    <ng-container *ngIf="formcontrol === 'mobile' && addressForm.get(formcontrol)?.touched">
        <span class="error-message" *ngIf="addressForm.get(formcontrol)?.errors?.pattern">
            {{'formValidation.invalidMobile'|translate}}
        </span>
        <span class="error-message" *ngIf="formgroup.get(formcontrol)?.errors?.minlength">
            {{'formValidation.invalidMobile'|translate}}
        </span>
    </ng-container>

    <ng-container *ngIf="formcontrol === 'email' && addressForm.get(formcontrol)?.touched">
        <span class="error-message" *ngIf="addressForm.get(formcontrol)?.errors?.email">
            {{'formValidation.emailValidation'|translate}}
        </span>
    </ng-container>

    <ng-container *ngIf="addressForm?.get(formcontrol)?.touched || detailsForm?.get(formcontrol)?.touched">
        <span class="error-message"
            *ngIf="addressForm.get(formcontrol)?.errors?.notOnlyWhitespace && (!addressForm.get(formcontrol)?.errors?.required)
            || detailsForm.get(formcontrol)?.errors?.notOnlyWhitespace && (!detailsForm.get(formcontrol)?.errors?.required)">
            {{ 'formValidation.whiteSpaceErr' | translate }}
        </span>
    </ng-container>
</ng-template>

<ng-template #farmerName>
    <span class="font-1-bold">{{detailsForm.get('firstName').value}} {{detailsForm.get('lastName').value}}</span>
</ng-template>