@import 'src/styles/utils';
@include reset-ul;

::ng-deep .more-filters {
  .mat-mdc-menu-content {
    ul {
      padding: 0;
    }
  }
}
::ng-deep .ff-dropdown-container {
  margin-right: 10px;
}

::ng-deep .filter {
  width: 70px!important;
}

.mx-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}