<app-listing-info [archivePage]="archivePage"></app-listing-info>
<section class="ff-table-container w-100" [ngClass]="selectedStocks?.length&&!archivePage?'one-margin m-0': ''">
    <table class="stock-listing-table" aria-label="stock listing table">
        <thead>
            <tr>
                <th *ngFor="let item of displayedColumns" class="{{item?.class}}">
                    <ng-container *ngIf="item.name === 'selection' && stocks?.length>0">
                        <span class="custom-checkbox" *ngIf="!selectedBatchesOnly" id="selectAllWraper">
                            <mat-checkbox [checked]="selectAll$ | async" id="selectAllCheckbox"></mat-checkbox>
                            <span class="overlay pointer" [matMenuTriggerFor]="selectList"></span>
                        </span>

                        <!-- new feature  -->
                        <mat-menu class="mat-menu more-filters" #selectList="matMenu" xPosition="after">
                            <mat-radio-group id="selectAllOptions" aria-label="Select an option">
                                <mat-radio-button value="page" class="font-1-normal text-xs text-blue radio-items"
                                    (change)="radioButtonChanged($event)" [checked]="selectOptions ==='page'"
                                    *ngIf="selectOptions !=='all'">
                                    Select current list ({{stocks?.length}})
                                </mat-radio-button>
                                <mat-radio-button value="all" class="font-1-normal text-xs text-blue radio-items"
                                    [checked]="selectOptions ==='all'" (change)="radioButtonChanged($event)">
                                    Select entire list ({{tableLength}})
                                </mat-radio-button>
                            </mat-radio-group>
                            <article *ngIf="selectOptions " class="footer-selection font-1-medium pointer"
                                (click)="clearPageSelection()">
                                Clear selection
                            </article>
                        </mat-menu>
                    </ng-container>
                    <ng-container *ngIf="item.name !== 'selection'">
                        <article class="ff-flex-start pointer" (click)="sortData(item.sortKey)">
                            {{item.name}}
                            <ng-container *ngIf="!item?.hideSort && !selectedBatchesOnly">
                                <app-sort-custom [filterValues]="appliedFilterValues"
                                    [columnName]="item.sortKey"></app-sort-custom>
                            </ng-container>
                        </article>
                    </ng-container>

                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of stocks; trackBy: trackByFn" class="pointer"
                [ngClass]="{'selected': selectedStocks | listingRowSelection: item }">
                <td class="mat-cell selection-column">
                    <mat-checkbox [ngModel]="item.select" (change)="changeSelect($event, item)"
                        *ngIf="!selectedBatchesOnly"></mat-checkbox>
                </td>
                <td class="mat-cell stock-id-column" (click)="viewDetails(item)">
                    {{item?.stockId}}
                </td>
                <td class="mat-cell large-column text-overflow" (click)="viewDetails(item)">
                    {{item?.product}}
                </td>
                <td class="mat-cell normal-column" (click)="viewDetails(item)">
                    {{item?.created * 1000 | date: 'dd MMMM y'}}
                </td>
                <td class="mat-cell normal-column" (click)="viewDetails(item)">
                    {{item?.from}}
                </td>
                <td class="mat-cell normal-column" (click)="viewDetails(item)">
                    <span *ngIf="item?.batch.length>18" matTooltip="{{item?.batch}}">
                        {{(item?.batch|slice:0:18)+'...'}}
                    </span>
                    <span *ngIf="item?.batch.length<=18">
                        {{item?.batch}}
                    </span>
                </td>
                <td class="mat-cell large-column">
                    <div [ngClass]="item?.select?'ff-flex-between':'ff-flex-start'">
                        <span>
                            {{item?.quantityAvailable.toFixed(2)}}
                        </span>
                        <ng-container *ngIf="item.select && !archivePage">
                            <article class="input-container-with-error">
                                <label class="has-float-label">
                                    <input type="number" min="1" [(ngModel)]="item.quantityNeeded" id="quantityNeeded"
                                        (keyup)="updateQuantityValue(item)" />
                                    <span class="label">Quantity needed(kg)</span>
                                </label>
                                <span class="error-message"
                                    *ngIf="item.quantityNeeded > item.quantityAvailable || item.quantityNeeded <= 0">
                                    Invalid quantity
                                </span>
                            </article>
                        </ng-container>
                    </div>
                </td>
                <td class="mat-cell normal-column text-overflow">
                    {{item?.referenceNo || '-'}}
                </td>
                <td class="mat-cell options-column" (click)="$event.stopPropagation()">
                    <span class="pointer" [matMenuTriggerFor]="rowMenu" id="moreOptions">
                        <mat-icon>more_vert</mat-icon>
                    </span>
                    <mat-menu class="mat-menu more-options" #rowMenu="matMenu" xPosition="before">
                        <button class="text-xs text-blue" id="viewDetails" mat-menu-item (click)="viewDetails(item)">
                            View details
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>

    <section class="row-md pointer" *ngIf="tableLength > 10 && !selectedBatchesOnly && !dataLoading && scrollValue>0">
        <article class="col-md-12  additional-rows ff-flex-center value-tr" (click)="clickAndLoadMore()">
            + {{ scrollValue }} more rows
        </article>
    </section>

    <div class="no-data w-100 flex-column" *ngIf="tableLength === 0 && !dataLoading">
        <div>
            <img class="no-data-image" src="../../../../assets/images/no_stock.svg" alt="">
        </div>
        <span>No stock found</span>
    </div>

    <app-loader loaderText="Loading stock list" loaderType="type1" *ngIf="dataLoading" class="min-h-300"
        id="stockTableLoader"></app-loader>
</section>