# Docker Compose environment variables
DJANGO_SETTINGS_MODULE=fairtrace_v2.settings.local

DJANGO_SUPERUSER_PASSWORD=admin123
DJANGO_SUPERUSER_EMAIL=admin@localhost
DJANGO_SUPERUSER_USERNAME=admin

POSTGRES_USER=trace_user
POSTGRES_PASSWORD=trace_pass
POSTGRES_DB=trace_db

NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=trace_neo4j_pass

DOCKER_BUILDKIT=1

GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=1
GRPC_PYTHON_BUILD_SYSTEM_ZLIB=1
