 <section class="mb-20">
        <article class="mt-15 ">
            <p class="font-1-bold text-blue mb-10">Your companies</p>
            <span class="text-xs desc">Control when you receive email notifications from Trace. You can change these settings at any time.</span> 
        </article>
    </section>
<div class="row-md">
    <section class="col-md-6 h-64" *ngIf="!loading">
        <ul class="company-listing">
            <li class="pointer ff-flex-between " *ngFor="let comp of companyList;trackBy: trackByFn" (click)="companySelection(comp)"
            [ngClass]="{'selected': currentCompany?.id === comp?.id }">
                <aside class="left-side" aria-label="claim details">
                    <article>
                        <span class="font-1-bold text-blue">{{comp?.name}}</span>
                    </article>
                </aside>
                <mat-icon class="ff-flex-center arrow-icon">keyboard_arrow_right</mat-icon>
            </li>
        </ul>
    </section>
    <section class="col-md-6 h-64" *ngIf="!loading">
        <article class="ff-flex-align-center group-title mt-15">
            <span class="value-tr">All Emails</span>
            <span class="flex-grow"></span> 
                <label class="switch all-mail-btn">
                    <input type="checkbox" id="select-all-req-notifications" name="view-all" 
                        (change)="selectAllNotification($event,'all')" [checked]="allReqNotificationEnabled && allTrClaimNotificationEnabled && allRemaindersNotificationEnabled">
                    <span class="slider round"></span>
                </label>
        </article>
        <article class="ff-flex-align-center group-title mt-15 pointer" (click)="toggleRequestsSection('req')">
            <span class="value-tr">Requests</span>
            <span class="flex-grow"></span> 
                <label class="switch select-all-btn">
                    <input type="checkbox" id="select-all-req-notifications" name="view-all" 
                        (change)="selectAllNotification($event,'req')" [checked]="allReqNotificationEnabled">
                    <span class="slider round"></span>
                </label>
            <mat-icon *ngIf="!showRequestsSection" class="toggle-btn">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="showRequestsSection" class="toggle-btn">keyboard_arrow_up</mat-icon>
        </article>
        <section class="ff-table-container w-100" *ngIf="showRequestsSection">
            <table class="noti-listing-table" aria-label="Profile preference selection table">
                <tbody>
                    <tr *ngFor="let preference of reqNotificationPreferences;trackBy: trackByFn">
                        <td>
                            {{preference.name}}
                        </td>
                        <td>
                            <article class="ff-flex-end mr-40">
                                <label class="switch">
                                    <input type="checkbox" id="req-noti-switch" name="select-notification"
                                        (change)="toggleNotificationSettings($event, preference)" [checked]="!preference.is_blocked">
                                    <span class="slider round"></span>
                                </label>
                            </article>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <article class="ff-flex-align-center mt-15 group-title pointer"  (click)="toggleRequestsSection('tr-claim')">
            <span class="value-tr">Transaction and Claim Notifications</span>
            <span class="flex-grow"></span> 
            <label class="switch select-all-btn">
                <input type="checkbox" id="select-all-tr-claim-switch" name="view-all"
                    (change)="selectAllNotification($event,'tr-claim')" [checked]="allTrClaimNotificationEnabled">
                <span class="slider round"></span>
            </label>
            <mat-icon *ngIf="!showTrSection" class="toggle-btn">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="showTrSection" class="toggle-btn">keyboard_arrow_up</mat-icon>
        </article>
        <section *ngIf="showTrSection" class="ff-table-container w-100">
            <table class="noti-listing-table" aria-label="Profile preference selection table">
                <tbody>
                    <tr *ngFor="let preference of trClaimNotificationPreferences;trackBy: trackByFn">
                        <td>
                            {{preference.name}}
                        </td>
                        <td>
                            <article class="ff-flex-end mr-40">
                                <label class="switch">
                                    <input type="checkbox" id="tr-claim-noti-switch" name="select-notification"
                                        (change)="toggleNotificationSettings($event, preference)" [checked]="!preference.is_blocked">
                                    <span class="slider round"></span>
                                </label>
                            </article>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <article class="ff-flex-align-center mt-15 group-title pointer" (click)="toggleRequestsSection('rem')">
            <span class="value-tr">Reminders</span>
            <span class="flex-grow"></span> 
            <label class="switch select-all-btn">
                <input type="checkbox" id="select-all-rem-switch" name="view-all"
                    (change)="selectAllNotification($event,'rem')" [checked]="allRemaindersNotificationEnabled">
                <span class="slider round"></span>
            </label>
            <mat-icon *ngIf="!showRemSection" class="toggle-btn">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="showRemSection" class="toggle-btn">keyboard_arrow_up</mat-icon>
        </article>
        <section *ngIf="showRemSection" class="ff-table-container w-100">
            <table class="noti-listing-table" aria-label="Profile preference selection table">
                <tbody>
                    <tr *ngFor="let preference of remaindersNotificationPreferences;trackBy: trackByFn">
                        <td>
                            {{preference.name}}
                        </td>
                        <td>
                            <article class="ff-flex-end mr-40">
                                <label class="switch">
                                    <input type="checkbox" id="rem-noti-switch" name="select-item"
                                        (change)="toggleNotificationSettings($event, preference)" [checked]="!preference.is_blocked">
                                    <span class="slider round"></span>
                                </label>
                            </article>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</div>

<section class="loader-wrapper ff-flex-center" *ngIf="loading">
    <app-loader loaderText="Loading notification preference" loaderType="type1"></app-loader>
</section>