.min-h-300 {
  min-height: 300px;
  padding-bottom: 50px;
}

::ng-deep .mat-mdc-menu-panel.medit {
  background-color: var(--color-white);

  ul {
    list-style: none;
    margin: 0;
    li {
      padding: 10px 0;
      font-size: 14px;
    }
  }
}

::ng-deep .mdc-tooltip__surface  {
  max-width: 450px !important; /* Adjust this value to your desired width */
  white-space: normal; /* Allows the tooltip content to wrap */
  border: 1px solid;
  font-size: 12px !important;
}
