<div class="page-container">
    <section class="heading-section">
        <h1 class="page-heading">
            {{ 'claim.heading' | translate }}
        </h1>
    </section>

    <section class="utils ff-flex-between flex-column">
        <app-ff-custom-tab [tabGroupItems]="claimTabs" [activeTabId]="activeClaimTab"
            (tabChanged)="changeTab($event)"></app-ff-custom-tab>
        <aside class="search-wrap ff-flex-align-center" aria-label="Right side action">
            <app-search-box placeholder="{{'misc.searchText' | translate}}" [hideOptions]="true" [searchString]="appliedFilterValues?.searchString"
                (searchText)="searchFilter($event)" class="search-item">
            </app-search-box>

            <app-buttons buttonType="secondary" buttonSize="medium" (buttonClicked)="filterClicked()">
                <ng-container *ngIf="toggleFilter">
                    <mat-icon class="clear-icon">close</mat-icon>
                    <span class="button-text">{{'misc.clearFilterText' | translate }}</span>
                </ng-container>
                <ng-container *ngIf="!toggleFilter">
                    <img src="../../../../assets/images/settings-slider-icon.svg" alt="icon">
                    <span class="button-text">{{'misc.filterText' | translate}}</span>
                </ng-container>
            </app-buttons>
        </aside>
    </section>

    <section *ngIf="toggleFilter" class="active-filter ff-flex-start">
        <app-ff-filter-box-wrapper class="mx-4" label="Claims" [defaultValue]="appliedFilterValues.selectedClaim"
            [filterMasterData]="claimListOptions?.claimsData" (selectionChange)="filterClaims($event, 'claim')">
        </app-ff-filter-box-wrapper>

        <app-ff-filter-box-wrapper class="mx-4" label="Status" [defaultValue]="appliedFilterValues.status"
            [filterMasterData]="statusFilter" [hideSearch]="true" (selectionChange)="filterClaims($event, 'status')">
        </app-ff-filter-box-wrapper>

        <app-ff-filter-box-wrapper class="mx-4" label="Product" [defaultValue]="appliedFilterValues.selectedProduct"
            [filterMasterData]="claimListOptions?.productData" (selectionChange)="filterClaims($event, 'product')">
        </app-ff-filter-box-wrapper>

        <ng-container *ngIf="claimListOptions?.assignorData.length > 0 && activeClaimTab === 'mine'">
            <app-ff-filter-box-wrapper class="mx-4" label="Assigned to"
                [defaultValue]="appliedFilterValues.selectedAssignor"
                [filterMasterData]="claimListOptions?.assignorData"
                (selectionChange)="filterClaims($event, 'assignor')">
            </app-ff-filter-box-wrapper>
        </ng-container>
    </section>


    <section class="ff-table-container w-100">
        <table aria-label="Claim section listing">
            <thead>
                <tr>
                    <th class="large-column">
                        {{'claim.claim' | translate }}
                    </th>
                    <th class="normal-column">
                        {{ activeClaimTab === 'mine'? ('claim.assignedTo' | translate):
                        ('claim.assignedBy' | translate) }}
                    </th>
                    <th class="normal-column">
                        {{'stocks.id' | translate }}
                    </th>
                    <th class="large-column">
                        {{'transactions.product' | translate }}
                    </th>
                    <th class="smaller-column">
                        {{'claim.statusText' | translate }}
                    </th>
                    <th class="options-column">

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of dataSource; trackBy: trackByFn" class="pointer"
                    (click)="viewDetails(element.id)" id="{{element.batch_number}}">
                    <td class="mat-cell large-column">
                        {{element.claim.name}}
                    </td>
                    <td class="mat-cell normal-column">

                        <ng-container *ngIf="activeClaimTab === 'mine'">
                            {{element.verifier ? element.verifier?.name : '-'}}
                        </ng-container>
                        <ng-container *ngIf="activeClaimTab === 'toVerify'">
                            {{element.attached_by ? element.attached_by?.name : '-'}}
                        </ng-container>
                    </td>
                    <td class="mat-cell normal-column">
                        {{element.batch_number}}
                    </td>
                    <td class="mat-cell large-column">
                        {{element.product.name}}
                    </td>
                    <td class="mat-cell smaller-column">
                        <ng-container [ngSwitch]="element.status">
                            <span *ngSwitchCase="1">{{'status.pending' | translate }}</span>
                            <span *ngSwitchCase="2">{{'status.verified' | translate }}</span>
                            <span *ngSwitchCase="3">{{'status.rejected' | translate }}</span>
                            <span *ngSwitchDefault>{{'status.pending' | translate }}</span>
                        </ng-container>
                    </td>
                    <td class="mat-cell options-column" (click)="$event.stopPropagation()">
                        <span class="pointer" [matMenuTriggerFor]="moreOptionsClaimList" id="moreMenu">
                            <mat-icon>more_vert</mat-icon>
                        </span>
                        <mat-menu class="mat-menu more-options" #moreOptionsClaimList="matMenu" xPosition="before">
                            <button class="text-xs text-blue" (click)="viewDetails(element.id)" mat-menu-item
                                id="viewDetails">
                                {{'button.viewButton' | translate }}
                            </button>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="no-data w-100 flex-column" aria-label="no records" *ngIf="tableLength === 0" [hidden]="dataLoading">
            <div>
                <img class="no-data-image" src="../../../../assets/images/no_claims.svg" alt="">
            </div>
            <span>{{'claim.noRecors' | translate }}</span>
        </div>

        <app-loader loaderText="{{'loaderText.claimRecords' | translate }}" loaderType="type1" *ngIf="dataLoading"
            class="min-h-300"></app-loader>
    </section>

    <!-- <app-ff-pagination [customPageSize]="paginationReset" [totalCount]="tableLength" (paginationAction)="paginatorEvent($event)"></app-ff-pagination> -->
    <app-ff-custom-pagination  *ngIf="!dataLoading" [totalCount]="tableLength" [customPage]="customPageSize"
        (paginationAction)="paginatorEvent($event)"></app-ff-custom-pagination>
</div>